:root{
  --primary-color: #1E2A5E;
  --secondary-color: #7C93C3;
  --text-white: #fff;
  --text-grey: #ccc;
}


.home{
  display: flex;
}

.hero{
  width: 100%;
  height: 100vh;
}

.active{
  color: #1E2A5E;
  background-color:#7C93C3 ;
}
/* ======== SideBar =========... */
.sidebar{
  width: 20vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease-in-out;
  color: var(--text-white);
}
.navlink{
  width: 100%;
  color: #fff;
}
.title, .user{
  border-bottom: 1px solid var(--secondary-color);
}
.title{
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.user{
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.user-picture{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-name, .user-role{
  font-size: 2rem;
  margin-left: 2rem;
}

.user-role{
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--text-grey);
}
.user-name-role{
  display: flex;
  flex-direction: column;
}
.links{
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.link{
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem;
  display: flex;
}
.link-icon{
  margin-left: 1rem;
}
.link-item{
  margin-left: 2rem;
}
 .link:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
 }

 .toggle{
  height: 40px;
  width: 40px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0rem;
  right: -40px;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
 }

.toggle-icon{
  font-size: 1.5rem;
}

.sidebar.close{
  width: 0vw;
}
/* ======== Main Section =========... */

.main{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main h1{
  color: var(--primary-color);
}

/* ======== Admin Component =========... */

.admin{
  height: 100%;
  width: 100%;
}
.admin-title{
  margin-left: 7.5rem;
  padding: 1.5rem 1rem;
  color: var(--primary-color);
}
.form-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.admin-form{
  height: 80%;
  width: 85%;
}
.admin-form label{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
}
.admin-form label input{
  background-color: transparent;
  width: 30rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 1rem 1.5rem;
  margin: 1rem;
  outline: none;
}
.input-email{
  margin-right: 3.5rem;
}

.input-phone{
  margin-right: 2.8rem;
}
.input-pwd{
  margin-right: 0.8rem;
}
.input-cpwd{
  margin-right: 1.6rem;
}
::placeholder{
  color: #b8b8b8;
}

.input-btn{
  padding: 1rem 4rem;
  margin-top: 2rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  color: var(--text-white);
}

.validation-msg{
  font-size: 1.2rem;
  color: red;
  padding: 1rem 0rem 1rem 9rem;
}


/* ======== User Details =========... */


.user-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-details h3{
  padding: 1rem;
  color: var(--primary-color);
}

.details-container{
  width: 80%;
  height: 80%;
}
.details-title, .details-show{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.2rem;
  
}
.details-title span{
  margin-left: 0.2rem;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  padding: 1rem;
  color: var(--text-white);
}
.details-show span{
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
  margin-left: 0.2rem;
  color: var(--text-white);
  background-color:#9eb4e4;
}
.back-btn{
  height: 5rem;
  width: 5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.back-icon{
  font-size: 2rem;
  color: var(--text-white);
}

